body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa;
}

.container {
    flex: 1;
}

.card {
    border: none;
    border-radius: 0.5rem;
}

.card-header {
    border-radius: 0.5rem 0.5rem 0 0 !important;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.3rem;
}

.display-3 {
    display: block;
}

.footer {
    margin-top: auto !important;
}

.table th {
    white-space: nowrap;
}
